---
import Welcome from '../components/Welcome.astro';
import Footer from '../components/Footer.astro'
import Layout from '../layouts/Layout.astro';
// import { Button } from "@/components/ui/button";
// import Carousel  from "@/components/Carousel.astro";
import CarouselOrientationDemo  from "@/components/CarouselOrientation.astro";
import "../styles/global.css";




// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Welcome />
	<!-- <Button>shadcn rules</Button> -->
	<!-- <Carousel /> -->
	<CarouselOrientationDemo/>
	<Footer/>

</Layout>
