---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import "../styles/global.css";
---
<div class="text-[1.3rem]
            m-2
            leading-[2rem]
            pb-10
            text-purple-900
            shadow-purple-400
            hover:bg-amber-100">
	<h1>blue blau katze auf bartlett strasse, san francisco</h1>
</div>